a {
    text-decoration: none;
}

header {
    background-color: cornflowerblue;
    margin-left: -0.5%;
    margin-right: -0.5%;
    margin-top: -1.3%;
    margin-bottom: 1.1%;
}

header a {
    font-size: 2.2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 4%;
    color: navy;
}

header a:hover {
    color: blanchedalmond;
}

header h2 {
    padding-top: 0.6%;
    padding-bottom: 0.6%;
}

.list {
    border: solid 4px black;
    margin-left: 25%;
    margin-right: 24%;
    background-color: whitesmoke;
}

.ad-heading {
    font-size: 1.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ad1 {
    margin-top: 3.2%;
    background-color: RGB(247, 202, 201);
    padding-left: 6.5%;
}

#ad2 {
    background-color: lightblue;
    margin-top: -0.3%;
    padding-left: 10.5%;
}

#ad3 {
    background-color: RGB(251, 246, 217);
    margin-top: -0.3%;
    padding-left: 14%;
}

.ad-list {
    font-size: 1.1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ad-list1 {
    padding-left: 25%;
}

#ad-list2 {
    padding-left: 17%;
}

#ad-list3 {
    padding-left: 9%;
}

body {
    background-color: whitesmoke;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.05vw;
    background-color: whitesmoke;    
    margin-left: 70%;
    margin-right: 6.5%;
    margin-top: 5%;
    padding: 0.55% 1.1%;
    height: 28em;
    border: solid 3px black;
}

#time, #activity, #delete, #insert-row {
    font-size: 1.05vw;
}

.button {
    background-color: lightgray;    
    cursor: pointer;
}

#add-button {
    width: 5%;
    margin-left: 80%;
    margin-top: -4%;
    margin-bottom: 2.7%;
}

#add-button h2 {
    font-size: 1.3vw;
    border: solid 3px black;
    border-radius: 5%;
    padding-left: 20%;
    color: black;
}

#delete-form {
    height: 8.8em;
    margin-top: 0%;
    margin-bottom: 4%;
}

#delete-button {
    width: 6%;
    margin-left: 80%;
    margin-top: -6.9%;
    margin-bottom: 2.5%;
}

#delete-button h2 {
    font-size: 1.3vw;
    border: solid 3px black;
    border-radius: 5%;
    padding-left: 18%;
}

#add-button:hover, #delete-button:hover {
    background-color: darkgray;
}

textarea {
    resize: none;
}

input, textarea {
    font-size: 1.05vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#time-table h2 {
    margin-left: 23.5%;
    margin-top: -54%;
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    margin-top: -1%;
    margin-left: 8%;
    table-layout: fixed;
    width: 55%;
}

#time-heading, #activity-heading, td {
    border: 1.5px solid black;
    font-size: 2vw;
}

td {
    border-width: 0px 1.5px 1.5px 1.5px;
}

#time-heading {
    background-color: lightgoldenrodyellow;
}

#activity-heading {
    background-color: lightgreen;
}

#delete-all {
    width: 8%;
    height: 2.5em;
    margin-left: 29%;
    margin-top: 2%;
    background: crimson;
    border: 3px solid black;
    border-radius: 5%;
    font-size: 1.2vw;
    padding-left: 1.5%;
    padding-right: 1.2%;
    cursor: pointer;
}

#delete-all h2 {
    margin-top: 6%;
}

#delete-all:hover {
    background: lightsalmon;
  }

.incorrect {
    font-size: 1.2vw;
    color: firebrick;
}

#add-incorrect-format, #delete-incorrect-format {
    margin-left: 75%;
    visibility: hidden;
}

